@keyframes show {
  0% {
    transform: scale(0, 0);
    opacity: 0;
  }
  100% {
    transform: scale(1, 1);
    opacity: 1;
  }
}
@keyframes hide {
  0% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(0, 0);
    opacity: 0;
  }
}
*[data-a=animate-hide] {
  animation: hide 1s ease forwards ;
  transform-origin: left top;
}
*[data-a=animate-show] {
  animation: show 1s ease forwards ;
  transform-origin: left top;
}
@keyframes round {
  0% {
    transform: translate(30px, 0px);
  }
  0.27777778% {
    transform: translate(29.99543085px, 0.52357219px);
  }
  0.55555556% {
    transform: translate(29.98172481px, 1.0469849px);
  }
  0.83333333% {
    transform: translate(29.95888604px, 1.57007869px);
  }
  1.11111111% {
    transform: translate(29.92692151px, 2.09269421px);
  }
  1.38888889% {
    transform: translate(29.88584094px, 2.61467228px);
  }
  1.66666667% {
    transform: translate(29.83565686px, 3.1358539px);
  }
  1.94444444% {
    transform: translate(29.77638455px, 3.6560803px);
  }
  2.22222222% {
    transform: translate(29.70804206px, 4.17519303px);
  }
  2.5% {
    transform: translate(29.63065022px, 4.69303395px);
  }
  2.77777778% {
    transform: translate(29.54423259px, 5.20944533px);
  }
  3.05555556% {
    transform: translate(29.4488155px, 5.72426986px);
  }
  3.33333333% {
    transform: translate(29.34442802px, 6.23735072px);
  }
  3.61111111% {
    transform: translate(29.23110194px, 6.74853163px);
  }
  3.88888889% {
    transform: translate(29.10887179px, 7.25765687px);
  }
  4.16666667% {
    transform: translate(28.97777479px, 7.76457135px);
  }
  4.44444444% {
    transform: translate(28.83785088px, 8.26912067px);
  }
  4.72222222% {
    transform: translate(28.68914268px, 8.77115114px);
  }
  5% {
    transform: translate(28.53169549px, 9.27050983px);
  }
  5.27777778% {
    transform: translate(28.36555727px, 9.76704463px);
  }
  5.55555556% {
    transform: translate(28.19077862px, 10.2606043px);
  }
  5.83333333% {
    transform: translate(28.00741279px, 10.75103849px);
  }
  6.11111111% {
    transform: translate(27.81551564px, 11.2381978px);
  }
  6.38888889% {
    transform: translate(27.6151456px, 11.72193385px);
  }
  6.66666667% {
    transform: translate(27.40636373px, 12.20209929px);
  }
  6.94444444% {
    transform: translate(27.18923361px, 12.67854785px);
  }
  7.22222222% {
    transform: translate(26.96382139px, 13.1511344px);
  }
  7.5% {
    transform: translate(26.73019573px, 13.61971499px);
  }
  7.77777778% {
    transform: translate(26.48842779px, 14.08414688px);
  }
  8.05555556% {
    transform: translate(26.23859121px, 14.54428861px);
  }
  8.33333333% {
    transform: translate(25.98076211px, 15px);
  }
  8.61111111% {
    transform: translate(25.71501902px, 15.45114225px);
  }
  8.88888889% {
    transform: translate(25.44144288px, 15.89757793px);
  }
  9.16666667% {
    transform: translate(25.16011704px, 16.33917105px);
  }
  9.44444444% {
    transform: translate(24.87112718px, 16.7757871px);
  }
  9.72222222% {
    transform: translate(24.57456133px, 17.20729309px);
  }
  10% {
    transform: translate(24.27050983px, 17.63355757px);
  }
  10.27777778% {
    transform: translate(23.9590653px, 18.05445069px);
  }
  10.55555556% {
    transform: translate(23.64032261px, 18.46984426px);
  }
  10.83333333% {
    transform: translate(23.31437884px, 18.87961173px);
  }
  11.11111111% {
    transform: translate(22.98133329px, 19.28362829px);
  }
  11.38888889% {
    transform: translate(22.64128741px, 19.68177087px);
  }
  11.66666667% {
    transform: translate(22.29434476px, 20.07391819px);
  }
  11.94444444% {
    transform: translate(21.94061105px, 20.4599508px);
  }
  12.22222222% {
    transform: translate(21.58019401px, 20.83975111px);
  }
  12.5% {
    transform: translate(21.21320344px, 21.21320344px);
  }
  12.77777778% {
    transform: translate(20.83975111px, 21.58019401px);
  }
  13.05555556% {
    transform: translate(20.4599508px, 21.94061105px);
  }
  13.33333333% {
    transform: translate(20.07391819px, 22.29434476px);
  }
  13.61111111% {
    transform: translate(19.68177087px, 22.64128741px);
  }
  13.88888889% {
    transform: translate(19.28362829px, 22.98133329px);
  }
  14.16666667% {
    transform: translate(18.87961173px, 23.31437884px);
  }
  14.44444444% {
    transform: translate(18.46984426px, 23.64032261px);
  }
  14.72222222% {
    transform: translate(18.05445069px, 23.9590653px);
  }
  15% {
    transform: translate(17.63355757px, 24.27050983px);
  }
  15.27777778% {
    transform: translate(17.20729309px, 24.57456133px);
  }
  15.55555556% {
    transform: translate(16.7757871px, 24.87112718px);
  }
  15.83333333% {
    transform: translate(16.33917105px, 25.16011704px);
  }
  16.11111111% {
    transform: translate(15.89757793px, 25.44144288px);
  }
  16.38888889% {
    transform: translate(15.45114225px, 25.71501902px);
  }
  16.66666667% {
    transform: translate(15px, 25.98076211px);
  }
  16.94444444% {
    transform: translate(14.54428861px, 26.23859121px);
  }
  17.22222222% {
    transform: translate(14.08414688px, 26.48842779px);
  }
  17.5% {
    transform: translate(13.61971499px, 26.73019573px);
  }
  17.77777778% {
    transform: translate(13.1511344px, 26.96382139px);
  }
  18.05555556% {
    transform: translate(12.67854785px, 27.18923361px);
  }
  18.33333333% {
    transform: translate(12.20209929px, 27.40636373px);
  }
  18.61111111% {
    transform: translate(11.72193385px, 27.6151456px);
  }
  18.88888889% {
    transform: translate(11.2381978px, 27.81551564px);
  }
  19.16666667% {
    transform: translate(10.75103849px, 28.00741279px);
  }
  19.44444444% {
    transform: translate(10.2606043px, 28.19077862px);
  }
  19.72222222% {
    transform: translate(9.76704463px, 28.36555727px);
  }
  20% {
    transform: translate(9.27050983px, 28.53169549px);
  }
  20.27777778% {
    transform: translate(8.77115114px, 28.68914268px);
  }
  20.55555556% {
    transform: translate(8.26912067px, 28.83785088px);
  }
  20.83333333% {
    transform: translate(7.76457135px, 28.97777479px);
  }
  21.11111111% {
    transform: translate(7.25765687px, 29.10887179px);
  }
  21.38888889% {
    transform: translate(6.74853163px, 29.23110194px);
  }
  21.66666667% {
    transform: translate(6.23735072px, 29.34442802px);
  }
  21.94444444% {
    transform: translate(5.72426986px, 29.4488155px);
  }
  22.22222222% {
    transform: translate(5.20944533px, 29.54423259px);
  }
  22.5% {
    transform: translate(4.69303395px, 29.63065022px);
  }
  22.77777778% {
    transform: translate(4.17519303px, 29.70804206px);
  }
  23.05555556% {
    transform: translate(3.6560803px, 29.77638455px);
  }
  23.33333333% {
    transform: translate(3.1358539px, 29.83565686px);
  }
  23.61111111% {
    transform: translate(2.61467228px, 29.88584094px);
  }
  23.88888889% {
    transform: translate(2.09269421px, 29.92692151px);
  }
  24.16666667% {
    transform: translate(1.57007869px, 29.95888604px);
  }
  24.44444444% {
    transform: translate(1.0469849px, 29.98172481px);
  }
  24.72222222% {
    transform: translate(0.52357219px, 29.99543085px);
  }
  25% {
    transform: translate(0px, 30px);
  }
  25.27777778% {
    transform: translate(-0.52357219px, 29.99543085px);
  }
  25.55555556% {
    transform: translate(-1.0469849px, 29.98172481px);
  }
  25.83333333% {
    transform: translate(-1.57007869px, 29.95888604px);
  }
  26.11111111% {
    transform: translate(-2.09269421px, 29.92692151px);
  }
  26.38888889% {
    transform: translate(-2.61467228px, 29.88584094px);
  }
  26.66666667% {
    transform: translate(-3.1358539px, 29.83565686px);
  }
  26.94444444% {
    transform: translate(-3.6560803px, 29.77638455px);
  }
  27.22222222% {
    transform: translate(-4.17519303px, 29.70804206px);
  }
  27.5% {
    transform: translate(-4.69303395px, 29.63065022px);
  }
  27.77777778% {
    transform: translate(-5.20944533px, 29.54423259px);
  }
  28.05555556% {
    transform: translate(-5.72426986px, 29.4488155px);
  }
  28.33333333% {
    transform: translate(-6.23735072px, 29.34442802px);
  }
  28.61111111% {
    transform: translate(-6.74853163px, 29.23110194px);
  }
  28.88888889% {
    transform: translate(-7.25765687px, 29.10887179px);
  }
  29.16666667% {
    transform: translate(-7.76457135px, 28.97777479px);
  }
  29.44444444% {
    transform: translate(-8.26912067px, 28.83785088px);
  }
  29.72222222% {
    transform: translate(-8.77115114px, 28.68914268px);
  }
  30% {
    transform: translate(-9.27050983px, 28.53169549px);
  }
  30.27777778% {
    transform: translate(-9.76704463px, 28.36555727px);
  }
  30.55555556% {
    transform: translate(-10.2606043px, 28.19077862px);
  }
  30.83333333% {
    transform: translate(-10.75103849px, 28.00741279px);
  }
  31.11111111% {
    transform: translate(-11.2381978px, 27.81551564px);
  }
  31.38888889% {
    transform: translate(-11.72193385px, 27.6151456px);
  }
  31.66666667% {
    transform: translate(-12.20209929px, 27.40636373px);
  }
  31.94444444% {
    transform: translate(-12.67854785px, 27.18923361px);
  }
  32.22222222% {
    transform: translate(-13.1511344px, 26.96382139px);
  }
  32.5% {
    transform: translate(-13.61971499px, 26.73019573px);
  }
  32.77777778% {
    transform: translate(-14.08414688px, 26.48842779px);
  }
  33.05555556% {
    transform: translate(-14.54428861px, 26.23859121px);
  }
  33.33333333% {
    transform: translate(-15px, 25.98076211px);
  }
  33.61111111% {
    transform: translate(-15.45114225px, 25.71501902px);
  }
  33.88888889% {
    transform: translate(-15.89757793px, 25.44144288px);
  }
  34.16666667% {
    transform: translate(-16.33917105px, 25.16011704px);
  }
  34.44444444% {
    transform: translate(-16.7757871px, 24.87112718px);
  }
  34.72222222% {
    transform: translate(-17.20729309px, 24.57456133px);
  }
  35% {
    transform: translate(-17.63355757px, 24.27050983px);
  }
  35.27777778% {
    transform: translate(-18.05445069px, 23.9590653px);
  }
  35.55555556% {
    transform: translate(-18.46984426px, 23.64032261px);
  }
  35.83333333% {
    transform: translate(-18.87961173px, 23.31437884px);
  }
  36.11111111% {
    transform: translate(-19.28362829px, 22.98133329px);
  }
  36.38888889% {
    transform: translate(-19.68177087px, 22.64128741px);
  }
  36.66666667% {
    transform: translate(-20.07391819px, 22.29434476px);
  }
  36.94444444% {
    transform: translate(-20.4599508px, 21.94061105px);
  }
  37.22222222% {
    transform: translate(-20.83975111px, 21.58019401px);
  }
  37.5% {
    transform: translate(-21.21320344px, 21.21320344px);
  }
  37.77777778% {
    transform: translate(-21.58019401px, 20.83975111px);
  }
  38.05555556% {
    transform: translate(-21.94061105px, 20.4599508px);
  }
  38.33333333% {
    transform: translate(-22.29434476px, 20.07391819px);
  }
  38.61111111% {
    transform: translate(-22.64128741px, 19.68177087px);
  }
  38.88888889% {
    transform: translate(-22.98133329px, 19.28362829px);
  }
  39.16666667% {
    transform: translate(-23.31437884px, 18.87961173px);
  }
  39.44444444% {
    transform: translate(-23.64032261px, 18.46984426px);
  }
  39.72222222% {
    transform: translate(-23.9590653px, 18.05445069px);
  }
  40% {
    transform: translate(-24.27050983px, 17.63355757px);
  }
  40.27777778% {
    transform: translate(-24.57456133px, 17.20729309px);
  }
  40.55555556% {
    transform: translate(-24.87112718px, 16.7757871px);
  }
  40.83333333% {
    transform: translate(-25.16011704px, 16.33917105px);
  }
  41.11111111% {
    transform: translate(-25.44144288px, 15.89757793px);
  }
  41.38888889% {
    transform: translate(-25.71501902px, 15.45114225px);
  }
  41.66666667% {
    transform: translate(-25.98076211px, 15px);
  }
  41.94444444% {
    transform: translate(-26.23859121px, 14.54428861px);
  }
  42.22222222% {
    transform: translate(-26.48842779px, 14.08414688px);
  }
  42.5% {
    transform: translate(-26.73019573px, 13.61971499px);
  }
  42.77777778% {
    transform: translate(-26.96382139px, 13.1511344px);
  }
  43.05555556% {
    transform: translate(-27.18923361px, 12.67854785px);
  }
  43.33333333% {
    transform: translate(-27.40636373px, 12.20209929px);
  }
  43.61111111% {
    transform: translate(-27.6151456px, 11.72193385px);
  }
  43.88888889% {
    transform: translate(-27.81551564px, 11.2381978px);
  }
  44.16666667% {
    transform: translate(-28.00741279px, 10.75103849px);
  }
  44.44444444% {
    transform: translate(-28.19077862px, 10.2606043px);
  }
  44.72222222% {
    transform: translate(-28.36555727px, 9.76704463px);
  }
  45% {
    transform: translate(-28.53169549px, 9.27050983px);
  }
  45.27777778% {
    transform: translate(-28.68914268px, 8.77115114px);
  }
  45.55555556% {
    transform: translate(-28.83785088px, 8.26912067px);
  }
  45.83333333% {
    transform: translate(-28.97777479px, 7.76457135px);
  }
  46.11111111% {
    transform: translate(-29.10887179px, 7.25765687px);
  }
  46.38888889% {
    transform: translate(-29.23110194px, 6.74853163px);
  }
  46.66666667% {
    transform: translate(-29.34442802px, 6.23735072px);
  }
  46.94444444% {
    transform: translate(-29.4488155px, 5.72426986px);
  }
  47.22222222% {
    transform: translate(-29.54423259px, 5.20944533px);
  }
  47.5% {
    transform: translate(-29.63065022px, 4.69303395px);
  }
  47.77777778% {
    transform: translate(-29.70804206px, 4.17519303px);
  }
  48.05555556% {
    transform: translate(-29.77638455px, 3.6560803px);
  }
  48.33333333% {
    transform: translate(-29.83565686px, 3.1358539px);
  }
  48.61111111% {
    transform: translate(-29.88584094px, 2.61467228px);
  }
  48.88888889% {
    transform: translate(-29.92692151px, 2.09269421px);
  }
  49.16666667% {
    transform: translate(-29.95888604px, 1.57007869px);
  }
  49.44444444% {
    transform: translate(-29.98172481px, 1.0469849px);
  }
  49.72222222% {
    transform: translate(-29.99543085px, 0.52357219px);
  }
  50% {
    transform: translate(-30px, 0px);
  }
  50.27777778% {
    transform: translate(-29.99543085px, -0.52357219px);
  }
  50.55555556% {
    transform: translate(-29.98172481px, -1.0469849px);
  }
  50.83333333% {
    transform: translate(-29.95888604px, -1.57007869px);
  }
  51.11111111% {
    transform: translate(-29.92692151px, -2.09269421px);
  }
  51.38888889% {
    transform: translate(-29.88584094px, -2.61467228px);
  }
  51.66666667% {
    transform: translate(-29.83565686px, -3.1358539px);
  }
  51.94444444% {
    transform: translate(-29.77638455px, -3.6560803px);
  }
  52.22222222% {
    transform: translate(-29.70804206px, -4.17519303px);
  }
  52.5% {
    transform: translate(-29.63065022px, -4.69303395px);
  }
  52.77777778% {
    transform: translate(-29.54423259px, -5.20944533px);
  }
  53.05555556% {
    transform: translate(-29.4488155px, -5.72426986px);
  }
  53.33333333% {
    transform: translate(-29.34442802px, -6.23735072px);
  }
  53.61111111% {
    transform: translate(-29.23110194px, -6.74853163px);
  }
  53.88888889% {
    transform: translate(-29.10887179px, -7.25765687px);
  }
  54.16666667% {
    transform: translate(-28.97777479px, -7.76457135px);
  }
  54.44444444% {
    transform: translate(-28.83785088px, -8.26912067px);
  }
  54.72222222% {
    transform: translate(-28.68914268px, -8.77115114px);
  }
  55% {
    transform: translate(-28.53169549px, -9.27050983px);
  }
  55.27777778% {
    transform: translate(-28.36555727px, -9.76704463px);
  }
  55.55555556% {
    transform: translate(-28.19077862px, -10.2606043px);
  }
  55.83333333% {
    transform: translate(-28.00741279px, -10.75103849px);
  }
  56.11111111% {
    transform: translate(-27.81551564px, -11.2381978px);
  }
  56.38888889% {
    transform: translate(-27.6151456px, -11.72193385px);
  }
  56.66666667% {
    transform: translate(-27.40636373px, -12.20209929px);
  }
  56.94444444% {
    transform: translate(-27.18923361px, -12.67854785px);
  }
  57.22222222% {
    transform: translate(-26.96382139px, -13.1511344px);
  }
  57.5% {
    transform: translate(-26.73019573px, -13.61971499px);
  }
  57.77777778% {
    transform: translate(-26.48842779px, -14.08414688px);
  }
  58.05555556% {
    transform: translate(-26.23859121px, -14.54428861px);
  }
  58.33333333% {
    transform: translate(-25.98076211px, -15px);
  }
  58.61111111% {
    transform: translate(-25.71501902px, -15.45114225px);
  }
  58.88888889% {
    transform: translate(-25.44144288px, -15.89757793px);
  }
  59.16666667% {
    transform: translate(-25.16011704px, -16.33917105px);
  }
  59.44444444% {
    transform: translate(-24.87112718px, -16.7757871px);
  }
  59.72222222% {
    transform: translate(-24.57456133px, -17.20729309px);
  }
  60% {
    transform: translate(-24.27050983px, -17.63355757px);
  }
  60.27777778% {
    transform: translate(-23.9590653px, -18.05445069px);
  }
  60.55555556% {
    transform: translate(-23.64032261px, -18.46984426px);
  }
  60.83333333% {
    transform: translate(-23.31437884px, -18.87961173px);
  }
  61.11111111% {
    transform: translate(-22.98133329px, -19.28362829px);
  }
  61.38888889% {
    transform: translate(-22.64128741px, -19.68177087px);
  }
  61.66666667% {
    transform: translate(-22.29434476px, -20.07391819px);
  }
  61.94444444% {
    transform: translate(-21.94061105px, -20.4599508px);
  }
  62.22222222% {
    transform: translate(-21.58019401px, -20.83975111px);
  }
  62.5% {
    transform: translate(-21.21320344px, -21.21320344px);
  }
  62.77777778% {
    transform: translate(-20.83975111px, -21.58019401px);
  }
  63.05555556% {
    transform: translate(-20.4599508px, -21.94061105px);
  }
  63.33333333% {
    transform: translate(-20.07391819px, -22.29434476px);
  }
  63.61111111% {
    transform: translate(-19.68177087px, -22.64128741px);
  }
  63.88888889% {
    transform: translate(-19.28362829px, -22.98133329px);
  }
  64.16666667% {
    transform: translate(-18.87961173px, -23.31437884px);
  }
  64.44444444% {
    transform: translate(-18.46984426px, -23.64032261px);
  }
  64.72222222% {
    transform: translate(-18.05445069px, -23.9590653px);
  }
  65% {
    transform: translate(-17.63355757px, -24.27050983px);
  }
  65.27777778% {
    transform: translate(-17.20729309px, -24.57456133px);
  }
  65.55555556% {
    transform: translate(-16.7757871px, -24.87112718px);
  }
  65.83333333% {
    transform: translate(-16.33917105px, -25.16011704px);
  }
  66.11111111% {
    transform: translate(-15.89757793px, -25.44144288px);
  }
  66.38888889% {
    transform: translate(-15.45114225px, -25.71501902px);
  }
  66.66666667% {
    transform: translate(-15px, -25.98076211px);
  }
  66.94444444% {
    transform: translate(-14.54428861px, -26.23859121px);
  }
  67.22222222% {
    transform: translate(-14.08414688px, -26.48842779px);
  }
  67.5% {
    transform: translate(-13.61971499px, -26.73019573px);
  }
  67.77777778% {
    transform: translate(-13.1511344px, -26.96382139px);
  }
  68.05555556% {
    transform: translate(-12.67854785px, -27.18923361px);
  }
  68.33333333% {
    transform: translate(-12.20209929px, -27.40636373px);
  }
  68.61111111% {
    transform: translate(-11.72193385px, -27.6151456px);
  }
  68.88888889% {
    transform: translate(-11.2381978px, -27.81551564px);
  }
  69.16666667% {
    transform: translate(-10.75103849px, -28.00741279px);
  }
  69.44444444% {
    transform: translate(-10.2606043px, -28.19077862px);
  }
  69.72222222% {
    transform: translate(-9.76704463px, -28.36555727px);
  }
  70% {
    transform: translate(-9.27050983px, -28.53169549px);
  }
  70.27777778% {
    transform: translate(-8.77115114px, -28.68914268px);
  }
  70.55555556% {
    transform: translate(-8.26912067px, -28.83785088px);
  }
  70.83333333% {
    transform: translate(-7.76457135px, -28.97777479px);
  }
  71.11111111% {
    transform: translate(-7.25765687px, -29.10887179px);
  }
  71.38888889% {
    transform: translate(-6.74853163px, -29.23110194px);
  }
  71.66666667% {
    transform: translate(-6.23735072px, -29.34442802px);
  }
  71.94444444% {
    transform: translate(-5.72426986px, -29.4488155px);
  }
  72.22222222% {
    transform: translate(-5.20944533px, -29.54423259px);
  }
  72.5% {
    transform: translate(-4.69303395px, -29.63065022px);
  }
  72.77777778% {
    transform: translate(-4.17519303px, -29.70804206px);
  }
  73.05555556% {
    transform: translate(-3.6560803px, -29.77638455px);
  }
  73.33333333% {
    transform: translate(-3.1358539px, -29.83565686px);
  }
  73.61111111% {
    transform: translate(-2.61467228px, -29.88584094px);
  }
  73.88888889% {
    transform: translate(-2.09269421px, -29.92692151px);
  }
  74.16666667% {
    transform: translate(-1.57007869px, -29.95888604px);
  }
  74.44444444% {
    transform: translate(-1.0469849px, -29.98172481px);
  }
  74.72222222% {
    transform: translate(-0.52357219px, -29.99543085px);
  }
  75% {
    transform: translate(0px, -30px);
  }
  75.27777778% {
    transform: translate(0.52357219px, -29.99543085px);
  }
  75.55555556% {
    transform: translate(1.0469849px, -29.98172481px);
  }
  75.83333333% {
    transform: translate(1.57007869px, -29.95888604px);
  }
  76.11111111% {
    transform: translate(2.09269421px, -29.92692151px);
  }
  76.38888889% {
    transform: translate(2.61467228px, -29.88584094px);
  }
  76.66666667% {
    transform: translate(3.1358539px, -29.83565686px);
  }
  76.94444444% {
    transform: translate(3.6560803px, -29.77638455px);
  }
  77.22222222% {
    transform: translate(4.17519303px, -29.70804206px);
  }
  77.5% {
    transform: translate(4.69303395px, -29.63065022px);
  }
  77.77777778% {
    transform: translate(5.20944533px, -29.54423259px);
  }
  78.05555556% {
    transform: translate(5.72426986px, -29.4488155px);
  }
  78.33333333% {
    transform: translate(6.23735072px, -29.34442802px);
  }
  78.61111111% {
    transform: translate(6.74853163px, -29.23110194px);
  }
  78.88888889% {
    transform: translate(7.25765687px, -29.10887179px);
  }
  79.16666667% {
    transform: translate(7.76457135px, -28.97777479px);
  }
  79.44444444% {
    transform: translate(8.26912067px, -28.83785088px);
  }
  79.72222222% {
    transform: translate(8.77115114px, -28.68914268px);
  }
  80% {
    transform: translate(9.27050983px, -28.53169549px);
  }
  80.27777778% {
    transform: translate(9.76704463px, -28.36555727px);
  }
  80.55555556% {
    transform: translate(10.2606043px, -28.19077862px);
  }
  80.83333333% {
    transform: translate(10.75103849px, -28.00741279px);
  }
  81.11111111% {
    transform: translate(11.2381978px, -27.81551564px);
  }
  81.38888889% {
    transform: translate(11.72193385px, -27.6151456px);
  }
  81.66666667% {
    transform: translate(12.20209929px, -27.40636373px);
  }
  81.94444444% {
    transform: translate(12.67854785px, -27.18923361px);
  }
  82.22222222% {
    transform: translate(13.1511344px, -26.96382139px);
  }
  82.5% {
    transform: translate(13.61971499px, -26.73019573px);
  }
  82.77777778% {
    transform: translate(14.08414688px, -26.48842779px);
  }
  83.05555556% {
    transform: translate(14.54428861px, -26.23859121px);
  }
  83.33333333% {
    transform: translate(15px, -25.98076211px);
  }
  83.61111111% {
    transform: translate(15.45114225px, -25.71501902px);
  }
  83.88888889% {
    transform: translate(15.89757793px, -25.44144288px);
  }
  84.16666667% {
    transform: translate(16.33917105px, -25.16011704px);
  }
  84.44444444% {
    transform: translate(16.7757871px, -24.87112718px);
  }
  84.72222222% {
    transform: translate(17.20729309px, -24.57456133px);
  }
  85% {
    transform: translate(17.63355757px, -24.27050983px);
  }
  85.27777778% {
    transform: translate(18.05445069px, -23.9590653px);
  }
  85.55555556% {
    transform: translate(18.46984426px, -23.64032261px);
  }
  85.83333333% {
    transform: translate(18.87961173px, -23.31437884px);
  }
  86.11111111% {
    transform: translate(19.28362829px, -22.98133329px);
  }
  86.38888889% {
    transform: translate(19.68177087px, -22.64128741px);
  }
  86.66666667% {
    transform: translate(20.07391819px, -22.29434476px);
  }
  86.94444444% {
    transform: translate(20.4599508px, -21.94061105px);
  }
  87.22222222% {
    transform: translate(20.83975111px, -21.58019401px);
  }
  87.5% {
    transform: translate(21.21320344px, -21.21320344px);
  }
  87.77777778% {
    transform: translate(21.58019401px, -20.83975111px);
  }
  88.05555556% {
    transform: translate(21.94061105px, -20.4599508px);
  }
  88.33333333% {
    transform: translate(22.29434476px, -20.07391819px);
  }
  88.61111111% {
    transform: translate(22.64128741px, -19.68177087px);
  }
  88.88888889% {
    transform: translate(22.98133329px, -19.28362829px);
  }
  89.16666667% {
    transform: translate(23.31437884px, -18.87961173px);
  }
  89.44444444% {
    transform: translate(23.64032261px, -18.46984426px);
  }
  89.72222222% {
    transform: translate(23.9590653px, -18.05445069px);
  }
  90% {
    transform: translate(24.27050983px, -17.63355757px);
  }
  90.27777778% {
    transform: translate(24.57456133px, -17.20729309px);
  }
  90.55555556% {
    transform: translate(24.87112718px, -16.7757871px);
  }
  90.83333333% {
    transform: translate(25.16011704px, -16.33917105px);
  }
  91.11111111% {
    transform: translate(25.44144288px, -15.89757793px);
  }
  91.38888889% {
    transform: translate(25.71501902px, -15.45114225px);
  }
  91.66666667% {
    transform: translate(25.98076211px, -15px);
  }
  91.94444444% {
    transform: translate(26.23859121px, -14.54428861px);
  }
  92.22222222% {
    transform: translate(26.48842779px, -14.08414688px);
  }
  92.5% {
    transform: translate(26.73019573px, -13.61971499px);
  }
  92.77777778% {
    transform: translate(26.96382139px, -13.1511344px);
  }
  93.05555556% {
    transform: translate(27.18923361px, -12.67854785px);
  }
  93.33333333% {
    transform: translate(27.40636373px, -12.20209929px);
  }
  93.61111111% {
    transform: translate(27.6151456px, -11.72193385px);
  }
  93.88888889% {
    transform: translate(27.81551564px, -11.2381978px);
  }
  94.16666667% {
    transform: translate(28.00741279px, -10.75103849px);
  }
  94.44444444% {
    transform: translate(28.19077862px, -10.2606043px);
  }
  94.72222222% {
    transform: translate(28.36555727px, -9.76704463px);
  }
  95% {
    transform: translate(28.53169549px, -9.27050983px);
  }
  95.27777778% {
    transform: translate(28.68914268px, -8.77115114px);
  }
  95.55555556% {
    transform: translate(28.83785088px, -8.26912067px);
  }
  95.83333333% {
    transform: translate(28.97777479px, -7.76457135px);
  }
  96.11111111% {
    transform: translate(29.10887179px, -7.25765687px);
  }
  96.38888889% {
    transform: translate(29.23110194px, -6.74853163px);
  }
  96.66666667% {
    transform: translate(29.34442802px, -6.23735072px);
  }
  96.94444444% {
    transform: translate(29.4488155px, -5.72426986px);
  }
  97.22222222% {
    transform: translate(29.54423259px, -5.20944533px);
  }
  97.5% {
    transform: translate(29.63065022px, -4.69303395px);
  }
  97.77777778% {
    transform: translate(29.70804206px, -4.17519303px);
  }
  98.05555556% {
    transform: translate(29.77638455px, -3.6560803px);
  }
  98.33333333% {
    transform: translate(29.83565686px, -3.1358539px);
  }
  98.61111111% {
    transform: translate(29.88584094px, -2.61467228px);
  }
  98.88888889% {
    transform: translate(29.92692151px, -2.09269421px);
  }
  99.16666667% {
    transform: translate(29.95888604px, -1.57007869px);
  }
  99.44444444% {
    transform: translate(29.98172481px, -1.0469849px);
  }
  99.72222222% {
    transform: translate(29.99543085px, -0.52357219px);
  }
  100% {
    transform: translate(30px, 0px);
  }
}
*[data-a*=animate-round] {
  animation: round 2s linear infinite;
}
@keyframes quxian {
  0% {
    transform: translate(30px, 0px);
  }
  0.27777778% {
    transform: translate(29.99543085px, 1.73648178px);
  }
  0.55555556% {
    transform: translate(29.98172481px, 3.42020143px);
  }
  0.83333333% {
    transform: translate(29.95888604px, 5px);
  }
  1.11111111% {
    transform: translate(29.92692151px, 6.4278761px);
  }
  1.38888889% {
    transform: translate(29.88584094px, 7.66044443px);
  }
  1.66666667% {
    transform: translate(29.83565686px, 8.66025404px);
  }
  1.94444444% {
    transform: translate(29.77638455px, 9.39692621px);
  }
  2.22222222% {
    transform: translate(29.70804206px, 9.84807753px);
  }
  2.5% {
    transform: translate(29.63065022px, 10px);
  }
  2.77777778% {
    transform: translate(29.54423259px, 9.84807753px);
  }
  3.05555556% {
    transform: translate(29.4488155px, 9.39692621px);
  }
  3.33333333% {
    transform: translate(29.34442802px, 8.66025404px);
  }
  3.61111111% {
    transform: translate(29.23110194px, 7.66044443px);
  }
  3.88888889% {
    transform: translate(29.10887179px, 6.4278761px);
  }
  4.16666667% {
    transform: translate(28.97777479px, 5px);
  }
  4.44444444% {
    transform: translate(28.83785088px, 3.42020143px);
  }
  4.72222222% {
    transform: translate(28.68914268px, 1.73648178px);
  }
  5% {
    transform: translate(28.53169549px, 0px);
  }
  5.27777778% {
    transform: translate(28.36555727px, -1.73648178px);
  }
  5.55555556% {
    transform: translate(28.19077862px, -3.42020143px);
  }
  5.83333333% {
    transform: translate(28.00741279px, -5px);
  }
  6.11111111% {
    transform: translate(27.81551564px, -6.4278761px);
  }
  6.38888889% {
    transform: translate(27.6151456px, -7.66044443px);
  }
  6.66666667% {
    transform: translate(27.40636373px, -8.66025404px);
  }
  6.94444444% {
    transform: translate(27.18923361px, -9.39692621px);
  }
  7.22222222% {
    transform: translate(26.96382139px, -9.84807753px);
  }
  7.5% {
    transform: translate(26.73019573px, -10px);
  }
  7.77777778% {
    transform: translate(26.48842779px, -9.84807753px);
  }
  8.05555556% {
    transform: translate(26.23859121px, -9.39692621px);
  }
  8.33333333% {
    transform: translate(25.98076211px, -8.66025404px);
  }
  8.61111111% {
    transform: translate(25.71501902px, -7.66044443px);
  }
  8.88888889% {
    transform: translate(25.44144288px, -6.4278761px);
  }
  9.16666667% {
    transform: translate(25.16011704px, -5px);
  }
  9.44444444% {
    transform: translate(24.87112718px, -3.42020143px);
  }
  9.72222222% {
    transform: translate(24.57456133px, -1.73648178px);
  }
  10% {
    transform: translate(24.27050983px, 0px);
  }
  10.27777778% {
    transform: translate(23.9590653px, 1.73648178px);
  }
  10.55555556% {
    transform: translate(23.64032261px, 3.42020143px);
  }
  10.83333333% {
    transform: translate(23.31437884px, 5px);
  }
  11.11111111% {
    transform: translate(22.98133329px, 6.4278761px);
  }
  11.38888889% {
    transform: translate(22.64128741px, 7.66044443px);
  }
  11.66666667% {
    transform: translate(22.29434476px, 8.66025404px);
  }
  11.94444444% {
    transform: translate(21.94061105px, 9.39692621px);
  }
  12.22222222% {
    transform: translate(21.58019401px, 9.84807753px);
  }
  12.5% {
    transform: translate(21.21320344px, 10px);
  }
  12.77777778% {
    transform: translate(20.83975111px, 9.84807753px);
  }
  13.05555556% {
    transform: translate(20.4599508px, 9.39692621px);
  }
  13.33333333% {
    transform: translate(20.07391819px, 8.66025404px);
  }
  13.61111111% {
    transform: translate(19.68177087px, 7.66044443px);
  }
  13.88888889% {
    transform: translate(19.28362829px, 6.4278761px);
  }
  14.16666667% {
    transform: translate(18.87961173px, 5px);
  }
  14.44444444% {
    transform: translate(18.46984426px, 3.42020143px);
  }
  14.72222222% {
    transform: translate(18.05445069px, 1.73648178px);
  }
  15% {
    transform: translate(17.63355757px, 0px);
  }
  15.27777778% {
    transform: translate(17.20729309px, -1.73648178px);
  }
  15.55555556% {
    transform: translate(16.7757871px, -3.42020143px);
  }
  15.83333333% {
    transform: translate(16.33917105px, -5px);
  }
  16.11111111% {
    transform: translate(15.89757793px, -6.4278761px);
  }
  16.38888889% {
    transform: translate(15.45114225px, -7.66044443px);
  }
  16.66666667% {
    transform: translate(15px, -8.66025404px);
  }
  16.94444444% {
    transform: translate(14.54428861px, -9.39692621px);
  }
  17.22222222% {
    transform: translate(14.08414688px, -9.84807753px);
  }
  17.5% {
    transform: translate(13.61971499px, -10px);
  }
  17.77777778% {
    transform: translate(13.1511344px, -9.84807753px);
  }
  18.05555556% {
    transform: translate(12.67854785px, -9.39692621px);
  }
  18.33333333% {
    transform: translate(12.20209929px, -8.66025404px);
  }
  18.61111111% {
    transform: translate(11.72193385px, -7.66044443px);
  }
  18.88888889% {
    transform: translate(11.2381978px, -6.4278761px);
  }
  19.16666667% {
    transform: translate(10.75103849px, -5px);
  }
  19.44444444% {
    transform: translate(10.2606043px, -3.42020143px);
  }
  19.72222222% {
    transform: translate(9.76704463px, -1.73648178px);
  }
  20% {
    transform: translate(9.27050983px, 0px);
  }
  20.27777778% {
    transform: translate(8.77115114px, 1.73648178px);
  }
  20.55555556% {
    transform: translate(8.26912067px, 3.42020143px);
  }
  20.83333333% {
    transform: translate(7.76457135px, 5px);
  }
  21.11111111% {
    transform: translate(7.25765687px, 6.4278761px);
  }
  21.38888889% {
    transform: translate(6.74853163px, 7.66044443px);
  }
  21.66666667% {
    transform: translate(6.23735072px, 8.66025404px);
  }
  21.94444444% {
    transform: translate(5.72426986px, 9.39692621px);
  }
  22.22222222% {
    transform: translate(5.20944533px, 9.84807753px);
  }
  22.5% {
    transform: translate(4.69303395px, 10px);
  }
  22.77777778% {
    transform: translate(4.17519303px, 9.84807753px);
  }
  23.05555556% {
    transform: translate(3.6560803px, 9.39692621px);
  }
  23.33333333% {
    transform: translate(3.1358539px, 8.66025404px);
  }
  23.61111111% {
    transform: translate(2.61467228px, 7.66044443px);
  }
  23.88888889% {
    transform: translate(2.09269421px, 6.4278761px);
  }
  24.16666667% {
    transform: translate(1.57007869px, 5px);
  }
  24.44444444% {
    transform: translate(1.0469849px, 3.42020143px);
  }
  24.72222222% {
    transform: translate(0.52357219px, 1.73648178px);
  }
  25% {
    transform: translate(0px, 0px);
  }
  25.27777778% {
    transform: translate(-0.52357219px, -1.73648178px);
  }
  25.55555556% {
    transform: translate(-1.0469849px, -3.42020143px);
  }
  25.83333333% {
    transform: translate(-1.57007869px, -5px);
  }
  26.11111111% {
    transform: translate(-2.09269421px, -6.4278761px);
  }
  26.38888889% {
    transform: translate(-2.61467228px, -7.66044443px);
  }
  26.66666667% {
    transform: translate(-3.1358539px, -8.66025404px);
  }
  26.94444444% {
    transform: translate(-3.6560803px, -9.39692621px);
  }
  27.22222222% {
    transform: translate(-4.17519303px, -9.84807753px);
  }
  27.5% {
    transform: translate(-4.69303395px, -10px);
  }
  27.77777778% {
    transform: translate(-5.20944533px, -9.84807753px);
  }
  28.05555556% {
    transform: translate(-5.72426986px, -9.39692621px);
  }
  28.33333333% {
    transform: translate(-6.23735072px, -8.66025404px);
  }
  28.61111111% {
    transform: translate(-6.74853163px, -7.66044443px);
  }
  28.88888889% {
    transform: translate(-7.25765687px, -6.4278761px);
  }
  29.16666667% {
    transform: translate(-7.76457135px, -5px);
  }
  29.44444444% {
    transform: translate(-8.26912067px, -3.42020143px);
  }
  29.72222222% {
    transform: translate(-8.77115114px, -1.73648178px);
  }
  30% {
    transform: translate(-9.27050983px, 0px);
  }
  30.27777778% {
    transform: translate(-9.76704463px, 1.73648178px);
  }
  30.55555556% {
    transform: translate(-10.2606043px, 3.42020143px);
  }
  30.83333333% {
    transform: translate(-10.75103849px, 5px);
  }
  31.11111111% {
    transform: translate(-11.2381978px, 6.4278761px);
  }
  31.38888889% {
    transform: translate(-11.72193385px, 7.66044443px);
  }
  31.66666667% {
    transform: translate(-12.20209929px, 8.66025404px);
  }
  31.94444444% {
    transform: translate(-12.67854785px, 9.39692621px);
  }
  32.22222222% {
    transform: translate(-13.1511344px, 9.84807753px);
  }
  32.5% {
    transform: translate(-13.61971499px, 10px);
  }
  32.77777778% {
    transform: translate(-14.08414688px, 9.84807753px);
  }
  33.05555556% {
    transform: translate(-14.54428861px, 9.39692621px);
  }
  33.33333333% {
    transform: translate(-15px, 8.66025404px);
  }
  33.61111111% {
    transform: translate(-15.45114225px, 7.66044443px);
  }
  33.88888889% {
    transform: translate(-15.89757793px, 6.4278761px);
  }
  34.16666667% {
    transform: translate(-16.33917105px, 5px);
  }
  34.44444444% {
    transform: translate(-16.7757871px, 3.42020143px);
  }
  34.72222222% {
    transform: translate(-17.20729309px, 1.73648178px);
  }
  35% {
    transform: translate(-17.63355757px, 0px);
  }
  35.27777778% {
    transform: translate(-18.05445069px, -1.73648178px);
  }
  35.55555556% {
    transform: translate(-18.46984426px, -3.42020143px);
  }
  35.83333333% {
    transform: translate(-18.87961173px, -5px);
  }
  36.11111111% {
    transform: translate(-19.28362829px, -6.4278761px);
  }
  36.38888889% {
    transform: translate(-19.68177087px, -7.66044443px);
  }
  36.66666667% {
    transform: translate(-20.07391819px, -8.66025404px);
  }
  36.94444444% {
    transform: translate(-20.4599508px, -9.39692621px);
  }
  37.22222222% {
    transform: translate(-20.83975111px, -9.84807753px);
  }
  37.5% {
    transform: translate(-21.21320344px, -10px);
  }
  37.77777778% {
    transform: translate(-21.58019401px, -9.84807753px);
  }
  38.05555556% {
    transform: translate(-21.94061105px, -9.39692621px);
  }
  38.33333333% {
    transform: translate(-22.29434476px, -8.66025404px);
  }
  38.61111111% {
    transform: translate(-22.64128741px, -7.66044443px);
  }
  38.88888889% {
    transform: translate(-22.98133329px, -6.4278761px);
  }
  39.16666667% {
    transform: translate(-23.31437884px, -5px);
  }
  39.44444444% {
    transform: translate(-23.64032261px, -3.42020143px);
  }
  39.72222222% {
    transform: translate(-23.9590653px, -1.73648178px);
  }
  40% {
    transform: translate(-24.27050983px, 0px);
  }
  40.27777778% {
    transform: translate(-24.57456133px, 1.73648178px);
  }
  40.55555556% {
    transform: translate(-24.87112718px, 3.42020143px);
  }
  40.83333333% {
    transform: translate(-25.16011704px, 5px);
  }
  41.11111111% {
    transform: translate(-25.44144288px, 6.4278761px);
  }
  41.38888889% {
    transform: translate(-25.71501902px, 7.66044443px);
  }
  41.66666667% {
    transform: translate(-25.98076211px, 8.66025404px);
  }
  41.94444444% {
    transform: translate(-26.23859121px, 9.39692621px);
  }
  42.22222222% {
    transform: translate(-26.48842779px, 9.84807753px);
  }
  42.5% {
    transform: translate(-26.73019573px, 10px);
  }
  42.77777778% {
    transform: translate(-26.96382139px, 9.84807753px);
  }
  43.05555556% {
    transform: translate(-27.18923361px, 9.39692621px);
  }
  43.33333333% {
    transform: translate(-27.40636373px, 8.66025404px);
  }
  43.61111111% {
    transform: translate(-27.6151456px, 7.66044443px);
  }
  43.88888889% {
    transform: translate(-27.81551564px, 6.4278761px);
  }
  44.16666667% {
    transform: translate(-28.00741279px, 5px);
  }
  44.44444444% {
    transform: translate(-28.19077862px, 3.42020143px);
  }
  44.72222222% {
    transform: translate(-28.36555727px, 1.73648178px);
  }
  45% {
    transform: translate(-28.53169549px, 0px);
  }
  45.27777778% {
    transform: translate(-28.68914268px, -1.73648178px);
  }
  45.55555556% {
    transform: translate(-28.83785088px, -3.42020143px);
  }
  45.83333333% {
    transform: translate(-28.97777479px, -5px);
  }
  46.11111111% {
    transform: translate(-29.10887179px, -6.4278761px);
  }
  46.38888889% {
    transform: translate(-29.23110194px, -7.66044443px);
  }
  46.66666667% {
    transform: translate(-29.34442802px, -8.66025404px);
  }
  46.94444444% {
    transform: translate(-29.4488155px, -9.39692621px);
  }
  47.22222222% {
    transform: translate(-29.54423259px, -9.84807753px);
  }
  47.5% {
    transform: translate(-29.63065022px, -10px);
  }
  47.77777778% {
    transform: translate(-29.70804206px, -9.84807753px);
  }
  48.05555556% {
    transform: translate(-29.77638455px, -9.39692621px);
  }
  48.33333333% {
    transform: translate(-29.83565686px, -8.66025404px);
  }
  48.61111111% {
    transform: translate(-29.88584094px, -7.66044443px);
  }
  48.88888889% {
    transform: translate(-29.92692151px, -6.4278761px);
  }
  49.16666667% {
    transform: translate(-29.95888604px, -5px);
  }
  49.44444444% {
    transform: translate(-29.98172481px, -3.42020143px);
  }
  49.72222222% {
    transform: translate(-29.99543085px, -1.73648178px);
  }
  50% {
    transform: translate(-30px, 0px);
  }
  50.27777778% {
    transform: translate(-29.99543085px, 1.73648178px);
  }
  50.55555556% {
    transform: translate(-29.98172481px, 3.42020143px);
  }
  50.83333333% {
    transform: translate(-29.95888604px, 5px);
  }
  51.11111111% {
    transform: translate(-29.92692151px, 6.4278761px);
  }
  51.38888889% {
    transform: translate(-29.88584094px, 7.66044443px);
  }
  51.66666667% {
    transform: translate(-29.83565686px, 8.66025404px);
  }
  51.94444444% {
    transform: translate(-29.77638455px, 9.39692621px);
  }
  52.22222222% {
    transform: translate(-29.70804206px, 9.84807753px);
  }
  52.5% {
    transform: translate(-29.63065022px, 10px);
  }
  52.77777778% {
    transform: translate(-29.54423259px, 9.84807753px);
  }
  53.05555556% {
    transform: translate(-29.4488155px, 9.39692621px);
  }
  53.33333333% {
    transform: translate(-29.34442802px, 8.66025404px);
  }
  53.61111111% {
    transform: translate(-29.23110194px, 7.66044443px);
  }
  53.88888889% {
    transform: translate(-29.10887179px, 6.4278761px);
  }
  54.16666667% {
    transform: translate(-28.97777479px, 5px);
  }
  54.44444444% {
    transform: translate(-28.83785088px, 3.42020143px);
  }
  54.72222222% {
    transform: translate(-28.68914268px, 1.73648178px);
  }
  55% {
    transform: translate(-28.53169549px, 0px);
  }
  55.27777778% {
    transform: translate(-28.36555727px, -1.73648178px);
  }
  55.55555556% {
    transform: translate(-28.19077862px, -3.42020143px);
  }
  55.83333333% {
    transform: translate(-28.00741279px, -5px);
  }
  56.11111111% {
    transform: translate(-27.81551564px, -6.4278761px);
  }
  56.38888889% {
    transform: translate(-27.6151456px, -7.66044443px);
  }
  56.66666667% {
    transform: translate(-27.40636373px, -8.66025404px);
  }
  56.94444444% {
    transform: translate(-27.18923361px, -9.39692621px);
  }
  57.22222222% {
    transform: translate(-26.96382139px, -9.84807753px);
  }
  57.5% {
    transform: translate(-26.73019573px, -10px);
  }
  57.77777778% {
    transform: translate(-26.48842779px, -9.84807753px);
  }
  58.05555556% {
    transform: translate(-26.23859121px, -9.39692621px);
  }
  58.33333333% {
    transform: translate(-25.98076211px, -8.66025404px);
  }
  58.61111111% {
    transform: translate(-25.71501902px, -7.66044443px);
  }
  58.88888889% {
    transform: translate(-25.44144288px, -6.4278761px);
  }
  59.16666667% {
    transform: translate(-25.16011704px, -5px);
  }
  59.44444444% {
    transform: translate(-24.87112718px, -3.42020143px);
  }
  59.72222222% {
    transform: translate(-24.57456133px, -1.73648178px);
  }
  60% {
    transform: translate(-24.27050983px, 0px);
  }
  60.27777778% {
    transform: translate(-23.9590653px, 1.73648178px);
  }
  60.55555556% {
    transform: translate(-23.64032261px, 3.42020143px);
  }
  60.83333333% {
    transform: translate(-23.31437884px, 5px);
  }
  61.11111111% {
    transform: translate(-22.98133329px, 6.4278761px);
  }
  61.38888889% {
    transform: translate(-22.64128741px, 7.66044443px);
  }
  61.66666667% {
    transform: translate(-22.29434476px, 8.66025404px);
  }
  61.94444444% {
    transform: translate(-21.94061105px, 9.39692621px);
  }
  62.22222222% {
    transform: translate(-21.58019401px, 9.84807753px);
  }
  62.5% {
    transform: translate(-21.21320344px, 10px);
  }
  62.77777778% {
    transform: translate(-20.83975111px, 9.84807753px);
  }
  63.05555556% {
    transform: translate(-20.4599508px, 9.39692621px);
  }
  63.33333333% {
    transform: translate(-20.07391819px, 8.66025404px);
  }
  63.61111111% {
    transform: translate(-19.68177087px, 7.66044443px);
  }
  63.88888889% {
    transform: translate(-19.28362829px, 6.4278761px);
  }
  64.16666667% {
    transform: translate(-18.87961173px, 5px);
  }
  64.44444444% {
    transform: translate(-18.46984426px, 3.42020143px);
  }
  64.72222222% {
    transform: translate(-18.05445069px, 1.73648178px);
  }
  65% {
    transform: translate(-17.63355757px, 0px);
  }
  65.27777778% {
    transform: translate(-17.20729309px, -1.73648178px);
  }
  65.55555556% {
    transform: translate(-16.7757871px, -3.42020143px);
  }
  65.83333333% {
    transform: translate(-16.33917105px, -5px);
  }
  66.11111111% {
    transform: translate(-15.89757793px, -6.4278761px);
  }
  66.38888889% {
    transform: translate(-15.45114225px, -7.66044443px);
  }
  66.66666667% {
    transform: translate(-15px, -8.66025404px);
  }
  66.94444444% {
    transform: translate(-14.54428861px, -9.39692621px);
  }
  67.22222222% {
    transform: translate(-14.08414688px, -9.84807753px);
  }
  67.5% {
    transform: translate(-13.61971499px, -10px);
  }
  67.77777778% {
    transform: translate(-13.1511344px, -9.84807753px);
  }
  68.05555556% {
    transform: translate(-12.67854785px, -9.39692621px);
  }
  68.33333333% {
    transform: translate(-12.20209929px, -8.66025404px);
  }
  68.61111111% {
    transform: translate(-11.72193385px, -7.66044443px);
  }
  68.88888889% {
    transform: translate(-11.2381978px, -6.4278761px);
  }
  69.16666667% {
    transform: translate(-10.75103849px, -5px);
  }
  69.44444444% {
    transform: translate(-10.2606043px, -3.42020143px);
  }
  69.72222222% {
    transform: translate(-9.76704463px, -1.73648178px);
  }
  70% {
    transform: translate(-9.27050983px, 0px);
  }
  70.27777778% {
    transform: translate(-8.77115114px, 1.73648178px);
  }
  70.55555556% {
    transform: translate(-8.26912067px, 3.42020143px);
  }
  70.83333333% {
    transform: translate(-7.76457135px, 5px);
  }
  71.11111111% {
    transform: translate(-7.25765687px, 6.4278761px);
  }
  71.38888889% {
    transform: translate(-6.74853163px, 7.66044443px);
  }
  71.66666667% {
    transform: translate(-6.23735072px, 8.66025404px);
  }
  71.94444444% {
    transform: translate(-5.72426986px, 9.39692621px);
  }
  72.22222222% {
    transform: translate(-5.20944533px, 9.84807753px);
  }
  72.5% {
    transform: translate(-4.69303395px, 10px);
  }
  72.77777778% {
    transform: translate(-4.17519303px, 9.84807753px);
  }
  73.05555556% {
    transform: translate(-3.6560803px, 9.39692621px);
  }
  73.33333333% {
    transform: translate(-3.1358539px, 8.66025404px);
  }
  73.61111111% {
    transform: translate(-2.61467228px, 7.66044443px);
  }
  73.88888889% {
    transform: translate(-2.09269421px, 6.4278761px);
  }
  74.16666667% {
    transform: translate(-1.57007869px, 5px);
  }
  74.44444444% {
    transform: translate(-1.0469849px, 3.42020143px);
  }
  74.72222222% {
    transform: translate(-0.52357219px, 1.73648178px);
  }
  75% {
    transform: translate(0px, 0px);
  }
  75.27777778% {
    transform: translate(0.52357219px, -1.73648178px);
  }
  75.55555556% {
    transform: translate(1.0469849px, -3.42020143px);
  }
  75.83333333% {
    transform: translate(1.57007869px, -5px);
  }
  76.11111111% {
    transform: translate(2.09269421px, -6.4278761px);
  }
  76.38888889% {
    transform: translate(2.61467228px, -7.66044443px);
  }
  76.66666667% {
    transform: translate(3.1358539px, -8.66025404px);
  }
  76.94444444% {
    transform: translate(3.6560803px, -9.39692621px);
  }
  77.22222222% {
    transform: translate(4.17519303px, -9.84807753px);
  }
  77.5% {
    transform: translate(4.69303395px, -10px);
  }
  77.77777778% {
    transform: translate(5.20944533px, -9.84807753px);
  }
  78.05555556% {
    transform: translate(5.72426986px, -9.39692621px);
  }
  78.33333333% {
    transform: translate(6.23735072px, -8.66025404px);
  }
  78.61111111% {
    transform: translate(6.74853163px, -7.66044443px);
  }
  78.88888889% {
    transform: translate(7.25765687px, -6.4278761px);
  }
  79.16666667% {
    transform: translate(7.76457135px, -5px);
  }
  79.44444444% {
    transform: translate(8.26912067px, -3.42020143px);
  }
  79.72222222% {
    transform: translate(8.77115114px, -1.73648178px);
  }
  80% {
    transform: translate(9.27050983px, 0px);
  }
  80.27777778% {
    transform: translate(9.76704463px, 1.73648178px);
  }
  80.55555556% {
    transform: translate(10.2606043px, 3.42020143px);
  }
  80.83333333% {
    transform: translate(10.75103849px, 5px);
  }
  81.11111111% {
    transform: translate(11.2381978px, 6.4278761px);
  }
  81.38888889% {
    transform: translate(11.72193385px, 7.66044443px);
  }
  81.66666667% {
    transform: translate(12.20209929px, 8.66025404px);
  }
  81.94444444% {
    transform: translate(12.67854785px, 9.39692621px);
  }
  82.22222222% {
    transform: translate(13.1511344px, 9.84807753px);
  }
  82.5% {
    transform: translate(13.61971499px, 10px);
  }
  82.77777778% {
    transform: translate(14.08414688px, 9.84807753px);
  }
  83.05555556% {
    transform: translate(14.54428861px, 9.39692621px);
  }
  83.33333333% {
    transform: translate(15px, 8.66025404px);
  }
  83.61111111% {
    transform: translate(15.45114225px, 7.66044443px);
  }
  83.88888889% {
    transform: translate(15.89757793px, 6.4278761px);
  }
  84.16666667% {
    transform: translate(16.33917105px, 5px);
  }
  84.44444444% {
    transform: translate(16.7757871px, 3.42020143px);
  }
  84.72222222% {
    transform: translate(17.20729309px, 1.73648178px);
  }
  85% {
    transform: translate(17.63355757px, 0px);
  }
  85.27777778% {
    transform: translate(18.05445069px, -1.73648178px);
  }
  85.55555556% {
    transform: translate(18.46984426px, -3.42020143px);
  }
  85.83333333% {
    transform: translate(18.87961173px, -5px);
  }
  86.11111111% {
    transform: translate(19.28362829px, -6.4278761px);
  }
  86.38888889% {
    transform: translate(19.68177087px, -7.66044443px);
  }
  86.66666667% {
    transform: translate(20.07391819px, -8.66025404px);
  }
  86.94444444% {
    transform: translate(20.4599508px, -9.39692621px);
  }
  87.22222222% {
    transform: translate(20.83975111px, -9.84807753px);
  }
  87.5% {
    transform: translate(21.21320344px, -10px);
  }
  87.77777778% {
    transform: translate(21.58019401px, -9.84807753px);
  }
  88.05555556% {
    transform: translate(21.94061105px, -9.39692621px);
  }
  88.33333333% {
    transform: translate(22.29434476px, -8.66025404px);
  }
  88.61111111% {
    transform: translate(22.64128741px, -7.66044443px);
  }
  88.88888889% {
    transform: translate(22.98133329px, -6.4278761px);
  }
  89.16666667% {
    transform: translate(23.31437884px, -5px);
  }
  89.44444444% {
    transform: translate(23.64032261px, -3.42020143px);
  }
  89.72222222% {
    transform: translate(23.9590653px, -1.73648178px);
  }
  90% {
    transform: translate(24.27050983px, 0px);
  }
  90.27777778% {
    transform: translate(24.57456133px, 1.73648178px);
  }
  90.55555556% {
    transform: translate(24.87112718px, 3.42020143px);
  }
  90.83333333% {
    transform: translate(25.16011704px, 5px);
  }
  91.11111111% {
    transform: translate(25.44144288px, 6.4278761px);
  }
  91.38888889% {
    transform: translate(25.71501902px, 7.66044443px);
  }
  91.66666667% {
    transform: translate(25.98076211px, 8.66025404px);
  }
  91.94444444% {
    transform: translate(26.23859121px, 9.39692621px);
  }
  92.22222222% {
    transform: translate(26.48842779px, 9.84807753px);
  }
  92.5% {
    transform: translate(26.73019573px, 10px);
  }
  92.77777778% {
    transform: translate(26.96382139px, 9.84807753px);
  }
  93.05555556% {
    transform: translate(27.18923361px, 9.39692621px);
  }
  93.33333333% {
    transform: translate(27.40636373px, 8.66025404px);
  }
  93.61111111% {
    transform: translate(27.6151456px, 7.66044443px);
  }
  93.88888889% {
    transform: translate(27.81551564px, 6.4278761px);
  }
  94.16666667% {
    transform: translate(28.00741279px, 5px);
  }
  94.44444444% {
    transform: translate(28.19077862px, 3.42020143px);
  }
  94.72222222% {
    transform: translate(28.36555727px, 1.73648178px);
  }
  95% {
    transform: translate(28.53169549px, 0px);
  }
  95.27777778% {
    transform: translate(28.68914268px, -1.73648178px);
  }
  95.55555556% {
    transform: translate(28.83785088px, -3.42020143px);
  }
  95.83333333% {
    transform: translate(28.97777479px, -5px);
  }
  96.11111111% {
    transform: translate(29.10887179px, -6.4278761px);
  }
  96.38888889% {
    transform: translate(29.23110194px, -7.66044443px);
  }
  96.66666667% {
    transform: translate(29.34442802px, -8.66025404px);
  }
  96.94444444% {
    transform: translate(29.4488155px, -9.39692621px);
  }
  97.22222222% {
    transform: translate(29.54423259px, -9.84807753px);
  }
  97.5% {
    transform: translate(29.63065022px, -10px);
  }
  97.77777778% {
    transform: translate(29.70804206px, -9.84807753px);
  }
  98.05555556% {
    transform: translate(29.77638455px, -9.39692621px);
  }
  98.33333333% {
    transform: translate(29.83565686px, -8.66025404px);
  }
  98.61111111% {
    transform: translate(29.88584094px, -7.66044443px);
  }
  98.88888889% {
    transform: translate(29.92692151px, -6.4278761px);
  }
  99.16666667% {
    transform: translate(29.95888604px, -5px);
  }
  99.44444444% {
    transform: translate(29.98172481px, -3.42020143px);
  }
  99.72222222% {
    transform: translate(29.99543085px, -1.73648178px);
  }
  100% {
    transform: translate(30px, 0px);
  }
}
*[data-a*=animate-quxian] {
  animation: quxian 2s linear infinite;
}
@keyframes rotate {
  0% {
    transform: rotateZ(-360deg);
  }
}
*[data-a*=animate-rotate] {
  animation: rotate 2s linear infinite;
}
